<script id="list_achievement" type="text/html">
<table class="table-striped .table-bordered">
	<thead>
		<tr>
			<th>Achievement name</th>
			<th>Édition</th>
			<th>Détails</th>
		</tr>
	</thead>
	<tbody>
		{{#data}}
		<tr>
			<td>{{name}}</td>
			<td><a href="#achievement/edit/{{project_slug}}/{{slug}}">Éditer</a></td>
			<td><a href="#achievement/show/{{project_slug}}/{{slug}}">Détails</a></td>
		</tr>
		{{/data}}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td><a href="#achievement/new" class="btn btn-primary">New achievement</button></td>
		</tr>
	</tfoot>
</table>
</script>