<script id="list_achievement" type="text/html">
<table class="table-striped table-bordered">
	<thead>
		<tr>
			<th>Achievement name</th>
			<th>Édition</th>
			<th>Détails</th>
		</tr>
	</thead>
	<tbody>
		{{#data}}
		<tr>
			<td>{{name}}</td>
			<td><a href="#achievement/edit/{{project_slug}}/{{slug}}">Edit</a></td>
			<td><a href="#achievement/show/{{project_slug}}/{{slug}}">Details</a></td>
		</tr>
		{{/data}}
	</tbody>
</table>

<div class="form-actions">
  <a href="#achievement/new" class="btn btn-primary">New achievement</a>
</div>
</script>