<script id="list_project" type="text/html">
<table class="table-striped table-bordered">
	<thead>
		<tr>
			<th>Project name</th>
			<th>Édition</th>
			<th>Détails</th>
		</tr>
	</thead>
	<tbody>
		{{#data}}
		<tr>
			<td>{{name}}</td>
			<td><a href="#project/edit/{{slug}}">Éditer</a></td>
			<td><a href="#project/show/{{slug}}">Détails</a></td>
		</tr>
		{{/data}}
	</tbody>
	<tfoot>
		<tr>
			<td></td>
			<td><a href="#project/new" class="btn btn-primary">New Project</button></td>
		</tr>
	</tfoot>
</table>
</script>